//- .wrapper
footer
    .footer_bgi
        p.s_m_a SOCAL MARKETING & ANALYTICS
        p.t_c_y_d Take control of your data
        .footer_a_flex 
            a(href="#").get_started  get started
            a(href="#").explore_features explore features
    .footer_d 
        .footer_flex
            a(href="#") 
                .logo
                    img(src="img/logo.png", alt="Misocial")
                    h1.f_h1 MISOCIAL
            .f_div_menu
                ul.f_menu 
                    +menu(mainMenu)
                    //- +menu(mainMenu, "white")
                a(href="#").f_g_s get started
    
        hr
        .copyright_flex 
            p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .footer_contacts
                a(href="#").fb
                a(href="#").tw
                a(href="#").g
                a(href="#").inst
