//- include mixin
//- .wrapper 
main 
    p.main_misocial misocial
    p.select_plan Select a Plan
    p.select_plan_text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    section.plans 
        +card (cards.free)
        +card (cards.basic)
        +card (cards.vip)
